<div id="<%= dom_id product_order %>">
  <p>
    <strong>Product:</strong>
    <%= product_order.product_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= product_order.order_id %>
  </p>

  <p>
    <strong>Product quatity:</strong>
    <%= product_order.product_quatity %>
  </p>

  <p>
    <strong>Product unit cost:</strong>
    <%= product_order.product_unit_cost %>
  </p>

</div>
