<div id="<%= dom_id courier %>">
  <p>
    <strong>User:</strong>
    <%= courier.user_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= courier.address_id %>
  </p>

  <p>
    <strong>Courier status:</strong>
    <%= courier.courier_status_id %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= courier.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= courier.email %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= courier.active %>
  </p>

</div>
