<div id="<%= dom_id customer %>">
  <p>
    <strong>User:</strong>
    <%= customer.user_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer.address_id %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= customer.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= customer.active %>
  </p>

  <p>
    <strong>Boolan:</strong>
    <%= customer.boolan %>
  </p>

</div>
