<div id="<%= dom_id order %>">
  <p>
    <strong>Restaurant:</strong>
    <%= order.restaurant_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= order.order_status_id %>
  </p>

  <p>
    <strong>Restaurant rating:</strong>
    <%= order.restaurant_rating %>
  </p>

</div>
