<div id="<%= dom_id restaurant %>">
  <p>
    <strong>User:</strong>
    <%= restaurant.user_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address_id %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= restaurant.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= restaurant.email %>
  </p>

  <p>
    <strong>Price range:</strong>
    <%= restaurant.price_range %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= restaurant.active %>
  </p>

  <p>
    <strong>Boolean:</strong>
    <%= restaurant.boolean %>
  </p>

</div>
