
<nav>
  <ul>
    <li><%= link_to 'RFD Admin', root_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'Sign out', destroy_user_session_path: :delete %></li>
      <li><%= link_to 'Employees', employees_path %></li>
      <li><%= link_to 'Restaurants', restaurants_path %></li>
    <% else %>
      <li><%= link_to 'Sign in', root_path %></li>
      <li><%= link_to 'Sign up', new_user_registration_path(redirect_to: root_path) %></li>
    <% end %>
  </ul>
</nav>